*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.99em;
    box-sizing: border-box;
}

body, .bannerButtons button{
    /* background-color: rgba(250, 249, 248, 1); */
    background-color: #faf9f8;
}


.upperNav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    line-height:1.5em;
    font-size: 1.1em;
    align-items: center;
}
/*.lowerNav*/
.navbar .upperNav ul{ 
    list-style: none;
    padding: 0px 30px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.leftUpperNav li, .leftUpperNav div{
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.rightUpperNav{
    width: 500px !important;
}

.rightUpperNav li{
    text-align: center;
    padding: 15px 0;
}

.rightUpperNav i{
    padding: 10px;
}

.upperNav a, .lowerNav a,footer a, .magazineCardWrapper, .magazineBanner a{
    text-decoration: none;
    color: black;
}
.upperFooter a:hover{
    text-decoration: underline;
}

#fade-button:hover{
    color: rgb(216, 40, 40);
}
a:hover{
    cursor: pointer !important ;
}

.lowerNav {
    /* width: 950px; */
    width: 1100px;
    margin: 70px auto 20px auto !important;
    list-style: none;
    display: flex;
    /*justify-content: space-around; */   
    align-items: center;
}

.lowerNav .list-item{
    width: fit-content;
    padding: 5px 25px;
}

.rightUpperNav .list-item{
    width: max-content;
}

.upperFooter{
    margin: 0px auto;
    padding-top: 65px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1300px;
    font-size: 0.95em;
}

.upperFooter li{
    list-style: none;
    line-height:2.3em;
}

.footerTitle{
    margin-bottom: 10px !important;
    font-size: 1.3em ;
    font-weight: 700 !important;
    width: 300px;
}

.footerBg{
    background: #e4e4e4;
    height: fit-content;
}

.footerIcons i{
    font-size: 1.6em;
}

.footerIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 310px;
    /* margin: 50px auto ; */
}
.lowerFooter{
    height: 260px;
    padding: 50px 0 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
}

.homePageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner{
    max-width: 1230px;
    width: 90%;
    padding: 30px 0;
}

.bannerButtons button, .photoBanner button{
    margin-right: 10px;
    height: 40px;
    padding: 0 15px;
    width: auto;
    font-weight: 700;
    font-size: 1.25em;
    border: none;
}

.bannerButtons button:hover, .photoBanner button:hover{
    cursor: pointer;
    background-color: #e4e4e4;
}

.photoBannerLink{  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1230px;
    height: 800px;
    background-size: cover;
    background-position-y: bottom;
    text-decoration: none;
    background-repeat: none;
} 

.layer{
    width: 90%;
    margin-top: 30px;
    max-width: 1230px;
    height: 800px;
}

.photoBanner{
     position: absolute;
   display: flex;
    flex-direction: column;
    bottom: 50px;
}

.photoBanner p{
    text-align: center;
    color: #faf9f8;
    margin: 5px;
}
.photoBanner button{
    margin: 15px;
    align-self: center;
}

.magazineCardWrapper .magazineCard{
    height: 140px;
}

.magazineCardWrapper {
    display: flex;
    justify-content: center;
}
.magazineCardWrapper .magazineCard div{
    text-align: center;
    line-height:0.8em;
    
}
.css-bhp9pd-MuiPaper-root-MuiCard-root{
    border-radius: 0;
}

.magazineBanner{
    min-height:  fit-content;
    width: 100%;
    background-color: #f4eddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    margin: 40px 0;
}

.NavbarSubLinksbg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf9f8;
    position: absolute;
    padding: 40px 0 80px 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 3;
    height: fit-content;
    width: 100%;
    visibility: hidden;
    border-bottom: black 5px solid;
}
.insideNavbarSubLinksbg {
    font-size: 0.9em;
    width: 800px;
    height: fit-content;
    column-count: 4 ; /* Adjust the number of columns as needed */
    column-width: 100px;
    column-gap: 20px; /* Gap between columns */
    z-index: 3;
}

.insideNavbarSubLinksbg ul{
    padding: 0 25px;
    margin-bottom: 50px;
    break-inside: avoid;
}

.insideNavbarSubLinksbg ul li{
    list-style: none;
    break-inside: avoid;
    margin-bottom: 8px;
}
.insideNavbarSubLinksbg ul li a{
    color: black;
    text-decoration: none;
}

.lowerNav .list-item{
    font-weight: 700;
    font-size: 1.2rem;
}

.navbar input:focus{
    outline: none;
}

li:hover .NavbarSubLinksbg{
    opacity: 1 !important;
    visibility: visible;
}


.navbarSmallInside{
    display: flex;
    justify-content: space-between;
    height: 60px;
}


.upperFooterSmallScreen{
    visibility: hidden;
}


.navbarSmall{
    height: 0;
}

.cart-hover:hover .cart-hover-child{
    visibility: visible;
    
}


@media only screen and (max-width: 1150px){

}

@media only screen and (max-width: 1500px){
    .lowerNav{
        width: 950px;
    }
    .lowerNav .list-item{
        padding: 5px 10px !important;
    }
}

@media only screen and (max-width: 1200px){
    .navbarSmall{
        visibility:visible !important;
        height: fit-content !important;
    }
    .navbar{
        visibility: hidden;
        height: 0;
    }
    /* smallscreen footer starts */
    .upperFooter{
        visibility: hidden;
        width: 0;
        height: 0;   
        padding: 0;
    }
    .upperFooterSmallScreen{
        visibility: visible;
        margin: auto;
        width: 92%;
        height: fit-content;
        padding-top: 20px;
    }
    .accordion-title{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px 10px;
        text-align: center;
        font-size: 1.2em;
    }
    .accordion-item{
        padding-bottom: 10px;
    }
    .accordion-subitem{
        padding: 8px 10px;
    }
    .accordion-list{
        list-style: none;
    }
    .accordion-title:hover .acordion-title-writing{
        color: black !important;
    }
    /* smallscreen footer ends */
    .navbarHelper{
        width: 80% !important;
    }
    .canBeUnvisible{
        visibility: hidden;
        height: 0;
        width: 0;
    }
}